/* HomePage.css */

.home-section {
  display: flex;
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    flex:1;
  }
  .home-section > div {
    flex: 1; 
    margin: 0 10px; 
  }
  .home-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .home-content .greeting {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .home-content h2 {
    font-size: 1.8em;
    color: #333;
    margin: 10px 0;
  }
  
  .home-content .description {
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
  }
  
  .home-content .resume-link {
    display: inline-block;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .home-content .resume-link:hover {
    background-color: #007bff;
    color: white;
  }
  