html {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
/* Container for layout */
.container {
  width: 100%;
  display: flow;
  flex-direction: column; /* Stack children vertically */
  flex-wrap: wrap;
  align-items: center; /* Center children horizontally */
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
}
