html {
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

@media (min-width: 600px) {
  main {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  header, footer {
    padding: 15px 30px;
  }
}


@media (min-width: 1024px) {
  main {
    padding: 60px;
  }
}


@media (min-width: 1440px) {
  header, footer {
    padding: 20px 40px;
  }
}