.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  header, main, footer {
    padding: 20px;
    text-align: center;
  }
  